# Python dependencies
aiosmtplib
annotated-types
anyio      
blinker   
click      
dnspython 
email_validator 
fastapi        
fastapi-mail  
h11          
httptools   
idna       
Jinja2           
MarkupSafe      
pip            
pydantic      
pydantic_core    
pydantic-settings 
python-dotenv    
python-multipart 
PyYAML         
sniffio       
starlette    
typing_extensions 
uvicorn          
uvloop          
watchfiles     
websockets    
